<h1> <%= @movie.title %></h1>
<% if @likes != 1 %>
  <h2> <%= @likes %> Likes</h2>
<% else %>
  <h2> <%= @likes %> Like</h2>
<% end %>
<%= render partial: "like_button", locals: { movie: @movie, like: @like } %>
